<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 m-auto">
      <h1>Edit flat</h1>
      <div class="flat-form">
        <%= render "flat_form", flat: @flat %>
      </div>
    </div>
  </div>
</div>
